<div class="product">
    <div class="product-image">
        <img src="{{product.image.url}}" alt="product image">
    </div>

    <div class="product-content">
        <h3 class="product-title"><a href="{{product.get_absolute_url}}">{{product.name}}</a></h3>
        <p class="sku">Product Sku: {{product.sku}}</p>
        <p>In Categories: 
            {% for cat in product.categories.all %}
                {{cat.name}}
            {% endfor %}
        </p>
        <p>Price: {{product.price}}</p>
    </div>
</div>

